@font-face {
  font-family: 'HUDMedium';
  src: url('fonts/Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Technology';
  src: url('fonts/Technology.ttf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "ScienceGothic";
  font-weight: 100 900;
  font-stretch: 50% 200%;
  font-style: oblique -10deg 0deg;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
  /* Основные цвета */
  --bg: #000000; /* чистый черный */
  --bg-10: #1a1a1a;
  --bg-20: #333333;
  --bg-30: #4d4d4d;
  --bg-40: #666666;
  --bg-50: #808080; /* средний серый */
  --bg-60: #999999;
  --bg-70: #b3b3b3;
  --bg-80: #cccccc;
  --bg-90: #e6e6e6;
  --bg-100: #ffffff; /* чистый белый */

  /* Дополнительные цвета для сетки и элементов */
  --grid-color: rgba(255, 255, 255, 0.12);
  --persp-depth: 200px;
  --slide-bg: rgba(0,0,0,0.1);
  --slide-border: rgba(10, 17, 149, 0.6);
  --slide-w: clamp(200px, 22vw, 300px);

  /* Тексты */
  --text-main: #787878;   /* основной текст */
  --text-dim: #8fa3a3;    /* затемненный текст */
  --text-light: #b3b3b3;  /* светлый текст */
  --text-bright: #e6e6e6; /* почти белый */

  /* Оверлей и эффекты */
  --overlay-color: rgba(255, 255, 255, 0.5); /* прозрачный белый */
  --overlay-dark: rgba(0,0,0,0.3);

  /* Сетка */
  --cell-size: 10vw;

  /* Шрифты и размеры */
  --font-size: 20px;

  /* Мышка / угол */
  --mx: 0;                 /* -1..1 по X */
  --my: 0;                 /* -1..1 по Y */
  --angle: 0deg;           /* угол для градиента */

  /* Кольца / рамки */
  --ring-width: 1px;
  --ring-offset: 0px;
  --frame-w: 56px;
  --frame-h: 56px;
  --cols: 12;
}

.header {
  position: fixed;
  z-index: 999;
  color: var(--bg-30);
  padding: 20px;
  align-items: center;
  width: 100vw;
  font-family: 'Science Gothic', monospace;
  text-transform: uppercase;
    justify-content: center;
}

.header-content {
    justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}



.brand img {
  height: 40px; /* размер логотипа */
}





.nav a {
  font-family: "Science Gothic", sans-serif;
  font-variation-settings: "slnt" -10, "wdth" 200, "wght" 600;
  transition: font-variation-settings 0.3s ease,
    color 0.3s ease;
  color: #3b3b3b;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}

.nav a:hover {
  font-variation-settings: "slnt" -20, "wdth" 300, "wght" 900;
  color: #f0f0f0; /* эффект наведения */
  filter: drop-shadow(0 0 8px white)
}


.footer {
  align-items: center;
  width: 100%;
  position: fixed;
  color: var(--bg-30);
  padding: 8px;
  text-align: center;
  font-family: 'Science Gothic', monospace;
  text-transform: uppercase;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 4px; /* расстояние между текстом и картинкой */
}

.footer-text {
  line-height: 1.4;
  font-size: 6px;
}

.footer-image img {
  display: block;
}



.glitch3 {
  color: white;
  animation: glitch3 1s step-end 2;
}

.glitch3 span {
  color: white;
  animation: glitch3 1s step-end 2;
}
@keyframes glitch3 {
  0%,50%,100%{
  transform: skewX(0deg) translateX(0px) scale(1,1);
	  text-shadow: 0px 0 rgb(27, 27, 27);
    clip-path: none;
    
  }
  5%,15%,25%{
  transform: skewX(12deg) translateX(2px) scale(1,-1);
	   text-shadow: -2px 0px rgb(0, 0, 0), -3px 2px #0a0a0a;
    
  }
  10%,30%{
  transform: skewX(25deg) translateX(4px) scale(1,1);
	  text-shadow: -1px 0px rgb(48, 48, 48);
	  
  }
  35%,45%{
  transform: skewX(-12deg) translateX(2px) scale(1,1);
	  text-shadow: -2px 0px #050505, -2px 0px #272727;
    
  }
  11%, 14% {
    clip-path: polygon(100% 0, 0 18%, 99% 46%, 0 78%, 100% 100%, 100% 57%, 0 100%, 100% 76%, 0 59%, 100% 35%, 0 37%, 100% 21%);
  }
  12%, 16% {
    clip-path: polygon(0 51%, 0 29%, 100% 0, 0 14%, 99% 57%, 100% 23%, 0 100%, 100% 72%, 0 0, 100% 100%);
  }
  13%, 17% {
    clip-path: polygon(0% 0%, 99% 0%, 99% 8%, 0% 7%, 0% 14%, 99% 15%, 100% 22%, 0% 22%, 0% 30%, 99% 30%, 99% 39%, 0% 37%, 0% 43%, 100% 45%, 100% 50%, 0% 49%, 0% 56%, 99% 57%, 99% 63%, 0% 63%, 0% 68%, 99% 68%, 99% 75%, 0% 76%, 0% 81%, 100% 83%, 100% 89%, 0% 88%, 0% 94%, 100% 95%, 100% 100%, 0% 99%);
  }
}


/* оболочка "жидкого стекла" */






body {
  
	background-color: var(--bg);
	color: var(--text-main);
	font-family: system-ui, sans-serif;

	min-height: 800vh;
}

.tunnel-scene {
	position: fixed;
	inset: 0;
	perspective: calc(var(--persp-depth) * 1.0);
	overflow: hidden;
}

/* виньетки дают эффект тоннеля */
.tunnel-vignette {
	position: absolute;
	inset: 0;
	background: linear-gradient(

  
    		rgba(0, 0, 0) 0%,
		rgb(0, 0, 0, 0) 20%,
    rgb(0, 0, 0, 1) 30%,
    		rgb(0, 0, 0) 70%,
		rgb(0, 0, 0, 0) 80%,
		rgba(0, 0, 0, 1) 97%,
		rgb(0, 0, 0) 100%
	);
	z-index: 3;
	pointer-events: none;
}


.logo {

	height: 36px;

}

#scene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  perspective: 800px;
  pointer-events: none;
}

#gridCanvas {
  width: 100%;
  height: 100%;
  display: block;
}


.slider {
  
	position: absolute;
	inset: 0;
	pointer-events: none;
	perspective: 1000px;
	z-index: 5;
	transform-style: preserve-3d;
	will-change: transform;
}

.slide {
    text-transform: uppercase;
    position: absolute;
    isolation: isolate;     
    min-width: var(--slide-w);
    max-width: var(--slide-w);

    color: var(--text-main);
    background: var(--slide-bg);

    border-radius: var(--slide-radius);
    backdrop-filter: blur(8px) saturate(160%);
    -webkit-backdrop-filter: blur(8px) saturate(160%);
    padding: 1rem 1rem .75rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    box-shadow:
        0 0 80px rgba(0, 0, 0, 0.5);
        

    font-size: .8rem;
    line-height: 1.4;

    transform-style: preserve-3d;
    will-change: transform, opacity;

    /* ← ключевое */
    pointer-events: auto;

    /* для плавной анимации ховера */
    transition: outline 0.25s ease,
                outline-offset 0.25s ease,
                box-shadow 0.25s ease;
    

}

/* ХОВЕР */
.slide:hover{ outline: none; 
color:#00fff9;
    box-shadow:
        0px 0px 2px rgba(255, 255, 255, 0.424);

}


.slide::after{
  content: "";
  position: absolute;
  inset: calc(var(--ring-offset) * -1);
  padding: var(--ring-width);
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s ease, filter .2s ease;

  /* радужный градиент, направление — по углу мыши */
  background:
    conic-gradient(
      from var(--angle)
      at calc(50% + var(--mx)*12%) calc(50% + var(--my)*10%),
      #000000, #000000, #f9f9f9, #000000, #f9f9f9, #000000
    );

  /* делаем «кольцо» через маску (только рамка, без заливки центра) */
mask:
  linear-gradient(#000 0 0) content-box,
  linear-gradient(#000 0 0);
-webkit-mask:
  linear-gradient(#000 0 0) content-box,
  linear-gradient(#000 0 0);

mask-composite: exclude;
-webkit-mask-composite: xor;


}

.slide:hover::after{
  opacity: 1;

}


/* изображение внутри карточки */
.slide-img {
	width: 100%;
	/* убираем фиксированное соотношение сторон */

	background: #111;

	overflow: hidden;
	display: block;
}

.slide-img img {
	width: 100%;
	height: auto;
	display: block;
	object-fit: contain; /* не режь контент */
}


/* подпись — можешь вообще скрыть если хочешь чисто визуал */
.slide-copy p:first-child {
	font-weight: 500;
	color: #686868;
}


.card-title {
    text-transform: uppercase;
    position: relative;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2em;
    min-height: 1.2em; /* фикс высоты чтобы не дёргалось */
  font-family: "Science Gothic", sans-serif;
  font-variation-settings: "slnt" -10, "wdth" 200, "wght" 900;
    letter-spacing: 0.05em;
    white-space: nowrap;
    color: #686868;
}

.card-subtitle {
  text-transform: uppercase;
  font-family: "Science Gothic", sans-serif;
  font-variation-settings: "slnt" -10, "wdth" 200, "wght" 600;
	font-size: 8px;
	color: #686868;

}

/* слой, который "шумит" случайными символами */
.hack-current {
    display: inline-block;
    color: #686868;

}
.hack-final {
    display: none;
    color: #232323;

}
.hack-current,
.hack-final {
    transition: opacity .18s linear;
}

.hack-hidden {
    opacity: 0;
}



.head {
  width: 148px;
  height: 148px;
  background-image: url('./images/head5.gif');
  background-size: cover;
  position: absolute;
  left: 16px;
  bottom: 4px;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.2;
  transition: opacity 0.3s ease-in-out;
}

.head::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./images/head7.gif');
  background-size: cover;
  opacity: 0;
  mix-blend-mode: screen;
  transform: translate(0, 0);
  pointer-events: none;
}

.head:hover {
    opacity: 1;


  background-image: url('./images/head7.gif');
}
/* эффект при ховере */
.head:hover::after {
      opacity: 1;
  animation: glitch-fade 0.5s steps(2, end);
}

@keyframes glitch-fade {
  0% {
    opacity: 0;
    clip-path: inset(0 0 40% 0);
    transform: translate(0, 0);
  }
  20% {
    opacity: 1;
    clip-path: inset(30% 0 0 0);
    transform: translate(-2px, 2px);
  }
  40% {
    opacity: 0.6;
    clip-path: inset(10% 0 20% 0);
    transform: translate(20px, -1px);
  }
  60% {
    opacity: 0.1;
    clip-path: inset(0 0 0 0);
    transform: translate(-10px, 1px);
  }
  80% {
    opacity: 0.7;
    clip-path: inset(20% 0 10% 0);
    transform: translate(1px, 0);
  }
  100% {
    opacity: 1;
    clip-path: none;
    transform: translate(0, 0);
  }
}