<footer class="footer">
  <div class="footer-content">
    <div style="width: 120px;">
        <div class="myhead">
    </div></div>
      <div class="view-switcher">
    <button class="view-btn active-view" data-view="slides" data-view-name="tunnel">
      <span>tunnel</span>
    </button>
    <button class="view-btn" data-view="gallery" data-view-name="grid">
      <span>grid</span>
    </button>
  </div>
  <div style="display:flex; align-items:center; gap: 12px;">
    <div class="footer-text">
      vibe — coded in solar system &gt; <br>
      planet earth &gt; ukraine &gt; kyiv
    </div>
    
    <div class="footer-image">
      <img src="/images/gif_solar.gif" alt="Solar GIF" style="width: 56px; opacity: 0.3;">
    </div>
</div>
  </div>
</footer>